<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokemon Index</h1>
    <!-- Button to Add New Pokemon -->
    <button onclick = "window.location.href='http://localhost:3000/pokemon/new';">Add New Pokemon</button>  
    <div class="pokemon-list">
    <!-- Creating a loop to iterate through the pokemon array && displaying the image of each Pokemon. -->
        <% for (let i = 0; i < pokemon.length; i++) { %>
        <div class="pokemon">
    <!-- Show the Image of the Pokemon -->
        <img src="<%= pokemon[i].img %>" alt="<%= pokemon[i].name %>">
    </div>
    <% } %>
</div>
</body>
</html>  


