<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/new.css">
   <!-- //Import Font Roboto//  -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>New Pokemon</title>
</head>
<body>
<!-- //Home Button// -->
<a href="/pokemon" class="btn">Home</a>
<!-- /Adding Pokemon and Pikachu. Borrowed the code from CodeBase: https://codepen.io/raubaca/pen/obaZmG //  -->
<div class="pokeball-container">
    <div class="pokeball">
      <div class="pokeball__button"></div>
    </div>
  </div>
  <div class="form-container">
    <h1>New Pokemon Form</h1>
    <form method="POST" action="/pokemon">
      <!-- //Name// -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>

      <!-- //Image URL// -->
      <label for="img">Image URL:</label>
      <input type="text" id="img" name="img"><br>

      <!-- //Type// -->
      <label for="type">Type:</label>
      <input type="text" id="type" name="type"><br>

      <!-- //Height// -->
      <label for="height">Height:</label>
      <input type="text" id="height" name="misc[height]"><br>

      <!-- //Weight// -->
      <label for="weight">Weight:</label>
      <input type="text" id="weight" name="misc[weight]"><br>

      <!-- //Abilities// -->
      <label for="abilities">Abilities:</label>
      <input type="text" id="abilities" name="misc[abilities][normal]"><br>

      <!-- //Hidden Ability// -->
      <label for="hidden_ability">Hidden Ability:</label>
      <input type="text" id="hidden_ability" name="misc[abilities][hidden]"><br>

      <!-- //Stats// -->
      <label for="hp">HP:</label>
      <input type="text" id="hp" name="stats[hp]"><br>

      <label for="attack">Attack:</label>
      <input type="text" id="attack" name="stats[attack]"><br>

      <label for="defense">Defense:</label>
      <input type="text" id="defense" name="stats[defense]"><br>

      <label for="spattack">Special Attack:</label>
      <input type="text" id="spattack" name="stats[spattack]"><br>

      <label for="spdefense">Special Defense:</label>
      <input type="text" id="spdefense" name="stats[spdefense]"><br>

      <label for="speed">Speed:</label>
      <input type="text" id="speed" name="stats[speed]"><br>

      <!-- //Submit Button// -->
      <input type="submit" value="Submit">
  </form>
     <!-- //Pikachu Container// -->
    <div class="pokemon-container">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu">
    </div>
    </body>
    </html>    

